@{Layout="_Layout";}
@model WebApplication1core.Models.RegisterViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form class="form-horizontal" asp-controller="Account" asp-action="Register" method="post">
    <h4>Register a new account</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="email" asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="password" asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ComparePassword" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="password" asp-for="ComparePassword" class="form-control">
            <span asp-validation-for="ComparePassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>